<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">

    <testsuites>
        <testsuite name="API">
            <file>tests/HabboAPITest.php</file>
        </testsuite>
    </testsuites>

    <testsuites>
        <testsuite name="Entities">
            <directory>./tests/entities</directory>
        </testsuite>
    </testsuites>

</phpunit>